

<body class="dashboard">
{% block body %}
   <div id="preloader" class="preloader-wrapper">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="authincation">
        <div class="container">
            <div class="row justify-content-center align-items-center g-0">
                <div class="col-xl-8">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="welcome-content">
                                <div class="welcome-title">
                                    <div class="mini-logo">
                                        <a href="index.html">
                                            <img src="images/logo-white.png" alt="" width="30" /></a>
                                    </div>
                                    <h3>Welcome to Ekash</h3>
                                </div>
                                <div class="privacy-social">
                                    <div class="privacy-link"><a href="#">Have an issue with 2-factor
                                            authentication?</a><br /><a href="#">Privacy Policy</a></div>
                                    <div class="intro-social">
                                        <ul>
                                            <li><a href="#"><i class="fi fi-brands-facebook"></i></a></li>
                                            <li><a href="#"><i class="fi fi-brands-twitter-alt"></i></a></li>
                                            <li><a href="#"><i class="fi fi-brands-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fi fi-brands-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="auth-form">
                                <h4>Reset</h4>
                                 <small>
                                        Enter your email address, and we will send you a
                                    link to reset your password.
                                        </small>

                                    {{ form_start(requestForm,{'attr': {'novalidate': 'novalidate'}}) }}
                                     <div class="row">
                                        <div class="col-12 mb-3">
                                            <label class="form-label">Email</label>
                                                {{ form_row(requestForm.email, { 'label': false, 'attr': {  'class': 'form-control' } }) }}
                                                 </div>
                                    </div>
                        
                                    <button class="btn btn-primary">Send password reset email</button>
                                {{ form_end(requestForm) }}
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>

{% block css %}
<link rel="stylesheet" href="{{asset('css/style.css')}}">
 <link rel="stylesheet" href="{{asset('vendor/toastr/toastr.min.css')}}">

{% endblock %}

{% block js %}
 <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <script src="{{asset('js/scripts.js')}}"></script>
     $(document).ready(function() {
        $('#reset-pass').click(function() {
            $('form').submit();
        });
    });
{% endblock %}
