 <!-- header-section start -->
    <header class="header-section">
        <div class="overlay">
            <div class="container">
                <div class="row d-flex header-area">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="{{ asset('assets/images/logo.png') }}" class="logo" alt="logo">
                        </a>
                        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbar-content">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                                <li class="nav-item dropdown main-navbar">
                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                        data-bs-toggle="dropdown" data-bs-auto-close="outside">Features</a>
                                    <ul class="dropdown-menu main-menu shadow">
                                        <li><a class="nav-link" href="payments-01.html">Organize Wallet</a></li>
                                        <li><a class="nav-link" href="subscriptions.html">Income & Expenses</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="nav-item dropdown main-navbar">
                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                        data-bs-toggle="dropdown" data-bs-auto-close="outside">Personal</a>
                                    <ul class="dropdown-menu main-menu shadow">
                                        <li><a class="nav-link" href="{{path('app_front_office_Todo')}}">Todo List</a></li>
                                        <li><a class="nav-link" href="{{path('app_front_office_Task')}}">Task</a></li>
                                        <li><a class="nav-link" href="{{path('app_front_office_Wishlist')}}">Wishlist</a></li>
                                        <li><a class="nav-link" href="{{path('app_front_office_Debt')}}">Handle Debts</a></li>
                                       
                                    </ul>
                                </li>
                                <li class="nav-item dropdown main-navbar">
                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)"
                                        data-bs-toggle="dropdown" data-bs-auto-close="outside">Blog</a>
                                    <ul class="dropdown-menu main-menu shadow">
                                        <li><a class="nav-link" href="blog.html">Blog</a></li>
                                        <li><a class="nav-link" href="blog-details.html">Blog Details</a></li>
                                        
                                    </ul>
                                </li>
                                
                            </ul>
                            <div class="right-area header-action d-flex align-items-center max-un">
                                <a href="{{path('app_login')}}" class="login">Login</a>
                                <a href="{{path('signup')}}" class="cmn-btn">Sign Up
                                    <i class="icon-d-right-arrow-2"></i>
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>