<div class="sidebar">
				<div class="brand-logo">
					<a class="full-logo" href="{{ path('app_base') }}"><img src="{{ asset('images/logoi.png') }}" alt="" width="30"></a>
				</div>
				<div class="menu">
					<ul>
						<li><a href="{{ path('app_base') }}"><span><i class="fi fi-rr-dashboard"></i></span><span class="nav-text">Home</span></a></li>
						<li><a href="#"><span><i class="fi fi-rr-wallet"></i></span><span class="nav-text">Accounts</span></a></li>
						<li><a href="#"><span><i class="fi fi-rr-donate"></i></span><span class="nav-text">Budgets</span></a></li>
						<li><a href="{{ path('app_task_index') }}"><span><i class="fi fi-sr-bullseye-arrow"></i></span><span class="nav-text">Tasks</span></a></li>
						<li><a href="{{ path('app_todolist_index') }}"><span><i class="fi fi-sr-list"></i></span><span class="nav-text">Todolist</span></a></li>
						<li><a href="{{ path('app_calendar') }}"><span><i class="fi fi-rr-calendar-lines"></i></span><span class="nav-text">Calendar</span></a></li>
						<li><a href="#"><span><i class="fi fi-rr-user"></i></span><span class="nav-text">Profile</span></a></li>
						<li><a href="#"><span><i class="fi fi-rr-user-headset"></i></span><span class="nav-text">Support</span></a></li>
						<li><a href="#"><span><i class="fi fi-rs-link-alt"></i></span><span class="nav-text">Affiliates</span></a></li>
						<li><a href="{{ path('settings-profile') }}"><span><i class="fi fi-rs-settings"></i></span><span class="nav-text">Settings</span></a></li>
					</ul>
				</div>
			</div>