{% extends 'baseFront.html.twig' %}

{% block title %}Hello FrontOfficeController!{% endblock %}
{% block content %}

 <section class="banner-section index">
        <div class="overlay">
            <div class="shape-area">
                <img src="{{ asset('assets/images/banner-box.png') }}" class="obj-1" alt="image">
                <img src="{{ asset('assets/images/banner-human.png') }}" class="obj-2" alt="image">
                <img src="{{ asset('assets/images/banner-rocket.png') }}" class="obj-3" alt="image">
                <img src="{{ asset('assets/images/banner-clock.png') }}" class="obj-4" alt="image">
            </div>
            
        </div>
        <section class="app-download">
    <div class="overlay pb-120">
        <div class="container wow fadeInUp">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6 order-lg-0 order-1">
                    <div class="image-area d-flex justify-content-center align-items-center">
                            <img src="{{ asset('assets/images/teest.png') }}" alt="Screenshot" class="screenshot" >
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-area">
                        <h5 class="sub-title">Wishlist Management</h5>
                        <h2 class="title">Effortless Wishlist Organization</h2>
                        <p>Create, manage, and track your wishlists with ease. Set monthly budgets, add items, and stay on top of your goals.</p>
                    </div>

                    <ul class="features">
                        <li>
                            <img src="{{ asset('assets/images/icon/check.png') }}" alt="icon">
                            Create multiple wishlists to organize your goals.
                        </li>
                        <li>
                            <img src="{{ asset('assets/images/icon/check.png') }}" alt="icon">
                            Set monthly budgets for each wishlist.
                        </li>
                        <li>
                            <img src="{{ asset('assets/images/icon/check.png') }}" alt="icon">
                            Add and manage items with ease.
                        </li>
                        <li>
                            <img src="{{ asset('assets/images/icon/check.png') }}" alt="icon">
                            Track your progress towards achieving your wishlist goals.
                        </li>
                    </ul>

                    
                </div>
            </div>
        </div>
    </div>
</section>
</section>
        
    <!-- Banner Section end -->

    <!-- Global Payment start -->
    
<!-- Our Solutions end -->


    <!-- How it Works start -->

<!-- How it Works end -->


    <!-- App Download start -->

<!-- App Download end -->


    <!-- Testimonials start -->

<!-- Testimonials end -->

    <!-- FAQs In start -->
    <section class="faqs-section">
        <div class="overlay pt-120 pb-120">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-header text-center">
                            <h5 class="sub-title">Frequently Asked Questions</h5>
                            <h2 class="title">If you got questions we have answer</h2>
                            <p>We have a list of frequently asked questions about us</p>
                        </div>
                    </div>
                </div>
                <div class="row cus-mar">
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionLeft">
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftOne">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseLeftOne"
                                        aria-expanded="false" aria-controls="collapseLeftOne">
                                        How does Pennywise ensure security?
                                    </button>
                                </h6>
                                <div id="collapseLeftOne" class="accordion-collapse collapse"
                                    aria-labelledby="headingLeftOne" data-bs-parent="#accordionLeft">
                                    <div class="accordion-body">
                                        <p>We store all users data in a safe and secure way.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftTwo">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseLeftTwo"
                                        aria-expanded="false" aria-controls="collapseLeftTwo">
                                        What is Pennywise ?
                                    </button>
                                </h6>
                                <div id="collapseLeftTwo" class="accordion-collapse collapse"
                                    aria-labelledby="headingLeftTwo" data-bs-parent="#accordionLeft">
                                    <div class="accordion-body">
<p>Pennywise is a do all app but its main purpose is budget management, however it also allows you to organize your payements and reach your financial goals.</p>                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="accordion" id="accordionRight">
                            
                            
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingRightThree">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseRightThree"
                                        aria-expanded="false" aria-controls="collapseRightThree">
                                        
How much is a subscription to Pennywise ?

                                    </button>
                                </h6>
                                <div id="collapseRightThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingRightThree" data-bs-parent="#accordionRight">
                                    <div class="accordion-body">
<p>Pennywise is a completely free app that is accessible to all users</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingRightFour">
                                    <button class="accordion-button collapsed" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseRightFour"
                                        aria-expanded="false" aria-controls="collapseRightFour">
                                        How to use Pennywise ?
                                    </button>
                                </h6>
                                <div id="collapseRightFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingRightFour" data-bs-parent="#accordionRight">
                                    <div class="accordion-body">
<p>All you need to do is to create an account if you don't have one, fill a small form to help costumize your plan, select your income and expenses, and then all you have to do is keep track?</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQs In end -->

{% endblock %}




